<nav class="navbar navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <p class="navbar-brand mb-0 mx-auto text-capitalise">
      Hospital Management System
    </p>
  </div>
</nav>
<section class="bg-light">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center p-5">
      <div class="card shadow-lg border-0">
        <div class="card-header">
          <h2 class="py-2 px-5">Hospital List</h2>
        </div>
        <div class="card-body">
          <div class="text-end my-3">
            <button class="btn btn-success">Sort By Hospital Name</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
