<nav class="navbar navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <p class="navbar-brand mb-0 mx-auto text-capitalise">
      Hospital Management System
    </p>
  </div>
</nav>
<section class="bg-light">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center p-5">
      <div class="card shadow-lg border-0">
        <div class="card-header">
          <h2 class="py-2 px-5">Hospital List</h2>
        </div>
        <div class="card-body">
          <div *ngIf="alert">
            <div *ngIf="ifSuccess; else elseBlock">
              <div class="alert alert-success" role="alert">
                {{ content }}
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="alert alert-danger" role="alert">
                {{ content }}
              </div>
            </ng-template>
          </div>

          <div class="text-end my-3">
            <button class="btn btn-success">Sort By Hospital Name</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">S no</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of data; let i = index; let lastRecord = last"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.hospitalname }}</td>
                <td>{{ item.contactnumber }}</td>
                <td>
                  <div class="btn-group btn-group-sm" role="group">
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      title="View"
                    >
                      <span>
                        <i class="material-icons" style="font-size: 15px">
                          remove_red_eye</i
                        >
                      </span>
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      title="Edit"
                    >
                      <i class="material-icons" style="font-size: 15px">edit</i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-dark"
                      (click)="onDelete(item.hospitalname)"
                      title="Delete"
                    >
                      <i class="material-icons" style="font-size: 15px"
                        >delete</i
                      >
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <th></th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Hospital name"
                    [(ngModel)]="hospital"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Contact"
                    [(ngModel)]="contact"
                  />
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <button
                      class="btn btn-success"
                      (click)="buttonSubmit()"
                      title="Add Hospital"
                    >
                      <i class="material-icons" style="font-size: 15px">save</i>
                    </button>
                    <button
                      class="btn btn-danger"
                      title="Clear Fields"
                      (click)="clearFields()"
                    >
                      <i class="material-icons" style="font-size: 15px"
                        >cancel</i
                      >
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
